<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

<connectionStrings>
    <add name="sqlconnection" connectionString="Data Source=Douglas;Initial Catalog=Banco_Pim;Integrated Security=True;"
        providerName="System.Data.SqlClient" />
    <add name="ProjetoLogin.Properties.Settings.CST" connectionString="Data Source=DOUGLAS;Initial Catalog=Banco_Pim;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>